
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');


*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.btn-primary {
    border-radius: 50px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
    padding: 15px 35px;
}

.btn-secondary {
    border-radius: 50px;
    background: #4EC5F7;
    border: 0;
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
    padding: 15px 35px;
}

.login-button {
    background-color: #cfc7e4;
    padding: 10px 40px;
    text-align: center;
    font-weight: 500px;
    border-radius: 5px;
}

.box-margin{
    margin-left: 35px;
    margin-right: 35px;
}

/* nav css */

.nav-container {
    min-height: 60px;
    display: flex;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;

}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container img {
    width: 100px;
    object-fit: cover;
    margin-right: 20px;

}

.logo-container p {
    font-size: 30px;
   
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 20px;
   
}

.nav-items-container .login-btn {
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
}

.logo-title-color {
    color: #F948B2;
}

.nav-title{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

} 



/* banner section */

.banner-container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;

}

.banner-img {
    width: 10px;
    margin-left: 100px;
   
}

/* online games */
.card-container{
    display: flex;
    gap: 4px;
    
}
.text-container{
    text-align: center;
}
.game-card img:hover{
    border: 2px solid #FF42A5;
}

/* play stsrt */
.play-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    gap: 10px;
    align-items: center;
    justify-items: center;
      
}
   
.play-des{
    align-items: end;
    text-align: end;
}


.play-pic img{
    margin-top: 10px;  
}

.play-pic{
    position: relative;
}

.img-two{
    position: absolute;
    bottom: 10px;
    left: -30px;
}
/* play end */


/* action game part */

.action-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 6px; 
    padding: 20px;
    height: 200px;
   
}

.action-btn{
    display: flex;
    align-items: center;
    height: 45px;
    padding: 15px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #f0f0f0;
    border: 1px solid#f0f0f0;
    border-radius: 50px;
    width: 200px;
    
   
}

.action-btn:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
}

/* footer start */
footer{
    background-color:  #0B0223;
    width: 100%;
    
}
.footer-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-text{
    color: #FFF;
}

.first-item{
    display: flex;
    gap: 4px;
}
.second-item{
    display: flex;
    gap: 16px;
   
}

.second-para{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.third-item{
    display: flex;
    gap: 4px; 
}

.fourth-item{
  
    display: flex;
    gap: 10px;   
}

.fourth-para{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400; 
}

/* bonus portion */
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    /* width: 100%; */
    height: auto;
    display: block;
  }
  
  .play-icon {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Hide the icon by default */
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .play-icon {
    opacity: 1; /* Show the icon on hover */
  }
  