/* responsive for mobile */
@media (max-width: 414px) {
   .nav-container , .nav-items-container, .nav-items{
        display: flex;
        flex-direction: column;
        
    }

    header{
        margin-bottom: 10px;
    }

    .play-item-container{
        grid-template-columns: 1fr;
          
    }
    
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr; 
    
  }
}
/* responsive for tablet */

@media screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
      
    }
}
